<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vontaii Credit Consultant</title>
</head>
<body>
  <h1 style="color: #f8043d;">New Message From Portfolio</h1>
  <p style="font-size: 1.2rem; ">{{body.message}}</p>
  <ul style="padding: 0; margin: 0;">
    {{#with body}}
    <li style="padding: 10px 10px;">Name: {{name}}</li>
    <li style="padding: 10px 10px;">Email: {{email}}</li>
    {{/with}}
  </ul>
</body>
</html>